.advantages {
  margin-bottom: 17px;

  @include center-container;
}

.advantages__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.advantages__item {
  padding: 20px;
  display: flex;
  flex-direction: column;

  background-color: $gray--lightest;

  &:first-child {
    margin-bottom: 23px;
  }
}

.advantages__title {
  position: relative;

  margin-top: 10px;
  margin-bottom: 29px;
  padding-left: 70px;

  @include font-styles(24px, normal, 37px, left, uppercase);
  color: $title-clr;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 2px;

    width: 50px;
    height: 51px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='25' cx='25' cy='25' fill='%2368b738'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.advantages__item--weight-loss > .advantages__title {
  &::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 10px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.advantages__item--weight-gain > .advantages__title {
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -5px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.advantages__description {
  @include indent-reset;

  padding-bottom: 25px;
  font-family: $phrase_description-font;
  color: $phrase-clr;

  border-bottom: 1px solid $gray;

  @include font-styles(14px, normal, 18px, left);
}

.advantages__link {
  position: relative;

  padding-top: 19px;
  padding-bottom: 2px;

  @include font-styles(16px, normal, 16px, left, uppercase);

  &:hover {
    opacity: 0.8;
  }

  &:active:focus {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 96px;

    width: 25px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
    margin-bottom: 45px;
  }

  .advantages__item {
    width: 708px;
    padding: 0;
    align-items: flex-start;

    &:first-child {
      margin-bottom: 28px;
    }
  }

  .advantages__title {
    margin-top: 76px;
    margin-bottom: 25px;
    margin-left: 53px;
    padding: 0;

    @include font-styles(36px, normal, 37px, left, uppercase);

    &::before {
      top: 15px;
      left: 393px;

      width: 200px;
      height: 200px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='100' cx='100' cy='100' fill='%2368b738'/%3E%3C/svg%3E");
    }
  }

  .advantages__item--weight-loss > .advantages__title {
    &::after {
      top: 4px;
      left: 423px;

      width: 141px;
      height: 194px;
    }
  }

  .advantages__item--weight-gain > .advantages__title {
    &::after {
      top: 60px;
      left: 359px;

      width: 268px;
      height: 113px;
    }
  }

  .advantages__description {
    width: 372px;
    margin-bottom: 15px;
    margin-left: 53px;


    border-bottom: none;

    @include font-styles(16px, normal, 24px, left, none);

    &:last-child {
      width: 370px;
    }
  }

  .advantages__item--weight-gain > .advantages__description {
    width: 340px;
  }

  .advantages__link {
    margin-left: 53px;
    margin-bottom: 60px;

    @include font-styles(20px, normal, 20px, left, uppercase);

    &::after {
      top: 24px;
      left: 130px;
    }
  }

  .advantages__item--weight-gain > .advantages__link {
    &::after {
      left: 125px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
    margin-bottom: 73px;
  }

  .advantages__list {
    flex-direction: row;
  }

  .advantages__item {
    width: 570px;

    &:first-child {
      margin-bottom: 0;
    }
  }


  .advantages__item--weight-loss {
    margin: 0 80px 0 0;
  }

  .advantages__link {
    margin-bottom: 60px;
  }

  .advantages__item--weight-gain > .advantages__description {
    width: 85%;
  }

  .advantages__title {
    align-self: center;
    margin-bottom: 72px;
    margin-left: 23px;

    &::before {
      width: 100px;
      height: 100px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='50' cx='50' cy='50' fill='%2368b738'%3E%3C/circle%3E%3C/svg%3E");
    }
  }

  .advantages__item--weight-loss > .advantages__title {
    &::before {
      top: -31px;
      left: -162px;
    }

    &::after {
      top: -36px;
      left: -148px;

      width: 71px;
      height: 97px;
    }
  }

  .advantages__item--weight-gain > .advantages__title {
    margin-left: 63px;

    &::before {
      top: -31px;
      left: -160px;
    }

    &::after {
      top: -8px;
      left: -179px;

      width: 134px;
      height: 57px;
    }
  }

  .advantages__description {
    width: 85%;
    margin-bottom: 13px;
    padding-bottom: 0;
  }
}
