.compare__button {
  @include font-styles(16px, normal, 20px, left, uppercase);
  font-family: $default-font;
  border: none;

  background-color: $gray--lightest;
}

@media (min-width: $tablet-width) {
  .compare__img {
    width: 690px;
    height: 510px;
  }

  .compare__img--before {
    margin-top: -163px;
    margin-left: 46px;
    margin-bottom: 20px;
  }

  .compare__img--after {
    display: none;
  }

  .compare__range {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 67px;
    padding: 0 99px;
  }

  .compare__button {
    padding: 0 0 6px;

    background-color: transparent;
    border-bottom: 1px dotted $gray;

    @include font-styles(20px, normal, 20px, left, uppercase);
  }

  .compare__progress {
    position: relative;
    width: 428px;
    height: 6px;

    background-color: $gray--progress-bar;
    border-radius: 3px;
  }

  .compare__toggle {
    position: absolute;
    top: -18px;
    left: 199px;

    width: 32px;
    height: 32px;

    background-color: $white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='4' cx='4' cy='4' fill='%2368b738'%3E%3C/circle%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px 12px;
    border: 1px solid $gray--progress-bar;
    border-radius: 50%;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}

@media (min-width: $desktop-width) {
  .compare__img {
    position: absolute;
    top: -530px;
    left: -60px;

    width: 690px;
    height: 517px;
  }

  .compare__img--before {
    margin: 0;
  }

  .compare__range {
    width: 81.5%;
    margin-bottom: 67px;
    margin-left: 20px;
    padding: 0;
  }
}
