@media (max-width: $mobile-only-width) {
  .example {
    width: 100%;
    padding-top: 17px;
    display: flex;
    flex-direction: column;

    background-color: $gray--lightest;
  }

  .example__text-container {
    display: flex;
    flex-direction: column;

    @include center-container;
    margin-bottom: 20px;
  }

  .example__title {
    margin: 0 0 23px;

    @include font-styles(36px, normal, 60px, left, none);
    font-family: $default-font;
    color: $black;
  }

  .example__description {
    width: 99%;
    margin: 0 0 25px;

    @include font-styles(14px, normal, 18px, left, none);
    font-family: $phrase_description-font;
    color: $gray--darkest;
  }

  .example__list {
    @include list-reset;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
  }

  .example__item {
    width: 43.5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid $gray--dark;
    border-radius: 3px;
  }

  .example__item strong {
    margin-top: 13px;

    font-family: $default-font;
    color: $black;

    @include font-styles(24px, normal, 24px, center, uppercase);
  }

  .example__item p {
    @include indent-reset;
    margin-top: -6px;

    width: 67%;
    font-family: $phrase_description-font;
    color: $gray--darkest;

    background-color: $gray--lightest;

    @include font-styles(12px, normal, 12px, center, none);
    transform: translate(0%, 60%);
  }

  .example__expenses {
    width: 67%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .example__expenses p {
    font-family: $default-font;
    color: $black;

    @include font-styles(14px, normal, 20px, center, uppercase);
  }

  .example__expenses span {
    font-family: $default-font;
    color: $black;

    @include font-styles(14px, normal, 20px, center, uppercase);
  }

  .example__interactive-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
  }

  .example__images {
    margin-bottom: 28px;
  }

  .example__controls {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 25px 20px;
  }

  .example__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .example__range {
    position: relative;
    z-index: 10;
  }

  .example__range-line {
    display: flex;
    width: 82px;
    background-color: $white;
    height: 6px;
    border: 1px solid $gray;
    border-radius: 5px;
  }

  .example__range-btn {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 35px;
    height: 4px;
    background-color: $green;
    border: none;
    border-radius: 5px;

    &--click {
      position: absolute;
      content: "";
      top: 2px;
      left: 46px;
      width: 35px;
      height: 4px;
      background-color: $green;
      border: none;
      border-radius: 5px;
    }
  }

  .example__phrase {
    font-family: $default-font;
    color: $black;
    border: none;
    background-color: transparent;

    @include font-styles(16px, normal, 20px, left, uppercase);
  }
}
