.instruction__wrapper {
  @include center-container;
}

.instruction__title {
  @include indent-reset;
  margin-top: 17px;
  margin-bottom: 28px;

  color: $title-clr;

  @include font-styles(36px, normal, 60px, left);
}

.instruction__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 29px;

  @include list-reset;
}

.instruction__item {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;

    width: 55px;
    height: 55px;

    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.instruction__item--background-image {
  margin-right: 15px;
}

.instruction__item--benefit {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: contain;
    }
  }
}

.instruction__item--simplicity {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: contain;
    }
  }
}

.instruction__item--change {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: contain;
    }
  }
}

.instruction__item--term {
  margin-bottom: 42px;

  &::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: contain;
    }
  }
}

.instruction__description {
  width: 195px;
  margin: 2px auto 0;

  font-family: $phrase_description-font;
  color: $phrase-clr;

  @include font-styles(14px, normal, 18px, left, none);
}

@media (min-width: $tablet-width) {
  .instruction {
    margin-bottom: 0;
    border-bottom: 1px solid $gray;
  }

  .instruction__wrapper {
    width: 708px;
  }

  .instruction__title {
    @include indent-reset;
    @include font-styles(60px, normal, 60px, left);
  }

  .instruction__list {
    counter-reset: section;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
  }

  .instruction__item {
    flex-direction: column;
    justify-content: flex-start;
    width: 325px;
    margin-top: 70px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      top: 16px;
      left: 16px;
    }

    &::after {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      top: -38px;
      left: 114px;
      z-index: -1;

      width: 71px;
      height: 228px;

      font-size: 281px;
      line-height: 281px;
      text-align: left;
      color: $gray--lightest;
    }
  }

  .instruction__item--term {
    margin-bottom: 60px;
  }

  .instruction__item--background-image {
    width: 80px;
    height: 80px;
    margin-bottom: 33px;
  }

  .instruction__item--background-image rect {
    width: 80px;
    height: 80px;
  }

  .instruction__description {
    width: 76%;
    margin: 0 0 43px;

    @include font-styles(16px, normal, 24px, left, none);
  }
}

@media (min-width: $desktop-width) {
  .instruction {
    margin-bottom: 0;
    border-bottom: none;
  }

  .instruction__wrapper {
    width: 1220px;
  }

  .instruction__title {
    margin-left: 0;
  }

  .instruction__item {
    width: 21%;
    margin-top: 72px;
    margin-bottom: 0;

    &:last-child {
      width: 20%;
    }

    &::before {
      top: 13px;
      left: 12px;
    }
  }

  .instruction__item--background-image {
    margin-bottom: 32px;
  }

  .instruction__description {
    width: 101%;
  }
}
