@media (max-width: $mobile-only-width) {
  .living-example {
    @include visually-hidden;
  }
}

@media (min-width: $tablet-width) {
  .living-example__mobile {
    @include visually-hidden;
  }

  .living-example {
    width: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-image: linear-gradient($white 576px, $gray--lightest 462px);
    }

    &::after {
      position: absolute;
      content: "";
      z-index: -2;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-image: linear-gradient($white 576px, $gray--bg-slider 462px);
    }
  }

  .living-example__center {
    width: 768px;
    margin: 0 auto;
  }

  .living-example__text-content {
    width: 708px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
  }

  .living-example__title {
    width: 708px;
    margin: 45px auto 50px;

    @include font-styles(60px, normal, 60px, left, none);
  }

  .living-example__phrase {
    width: 99%;
    margin-bottom: 48px;
    font-family: $phrase_description-font;
    color: $gray--darkest;

    @include font-styles(16px, normal, 24px, left, none);
  }

  .living-example__result-wrapper {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .living-example__result {
    display: flex;
    justify-content: space-between;
  }

  .living-example__background-grid {
    height: 257px;
  }

  .living-example__slider {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .living-example {
    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      width: 72.4%;
      height: 100%;
      background-image: linear-gradient($white 170px, $gray--lightest 463px);
    }

    &::after {
      position: absolute;
      content: "";
      z-index: -2;
      top: 0;
      right: 0;
      width: 27.6%;
      height: 100%;
      background-image: linear-gradient($white 170px, $gray--bg-slider 463px);
    }
  }

  .living-example__center {
    width: 1220px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
  }

  .living-example__title {
    width: 325px;
    height: 61px;
    margin: 23px 0 0;
    order: 1;
  }

  .living-example__text-content {
    width: 50%;
    margin: 0;
    order: 3;

    background-color: $gray--lightest;
  }

  .living-example__phrase {
    width: 67%;
    margin: 70px 0 60px 40px;
  }

  .living-example__result-wrapper {
    width: 68.5%;
    flex-wrap: wrap;
    margin-bottom: 27px;
  }

  .living-example__background-grid {
    @include visually-hidden;
  }

  .living-example__slider {
    width: 50%;
    order: 2;
  }
}
