@media (max-width: $mobile-only-width) {
  .living-example {
    @include visually-hidden;
  }
}

@media (min-width: $tablet-width) {
  .living-example__mobile {
    @include visually-hidden;
  }

  .living-example {
    width: 100%;
    position: relative;
  }

  .living-example__center {
    width: 768px;
    margin: 0 auto;
  }

  .living-example__text-content {
    width: 708px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
  }

  .living-example__title {
    width: 708px;
    margin: 42px auto 48px;

    @include font-styles(60px, normal, 60px, left, none);
  }

  .living-example__phrase {
    width: 99%;
    margin-bottom: 50px;
    font-family: $phrase_description-font;
    color: $gray--darkest;

    @include font-styles(16px, normal, 24px, left, none);
  }

  .living-example__result-wrapper {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .living-example__result {
    display: flex;
    justify-content: space-between;
  }

  .living-example__background-grid {
    height: 257px;
  }

  .living-example__slider {
    width: 768px;

    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-image: linear-gradient($white 619px, $gray--lightest 462px);
    }

    &::after {
      position: absolute;
      content: "";
      z-index: -2;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-image: linear-gradient($white 619px, $gray--bg-slider 462px);
    }
  }
}

@media (min-width: $desktop-width) {
  .living-example {
    margin-top: 30px;

    &::before {
      position: absolute;
      content: "";
      z-index: -5;
      top: 0;
      left: 0;
      width: 75vw;
      height: 100%;
      background-image: linear-gradient($white 160px, $gray--lightest 160px);
    }

    &::after {
      position: absolute;
      content: "";
      z-index: -6;
      top: 0;
      right: 0;
      width: 25vw;
      height: 100%;
      background-image: linear-gradient($white 160px, $gray--bg-slider 160px);
    }
  }

  .living-example__center {
    width: 1220px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
  }

  .living-example__title {
    margin: 54px 0 76px;
  }

  .living-example__text-content {
    width: 36%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 17px;
  }

  .living-example__phrase {
    width: 100%;
    margin-bottom: 38px;
  }

  .living-example__result-wrapper {
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: unset;
    margin: 0;
  }

  .living-example__result {
    margin-top: 0;
  }

  .living-example__background-grid {
    @include visually-hidden;
  }

  .living-example__slider {
    width: 53.3%;
  }
}
