@media (min-width: $tablet-width) {
  .result {
    @include list-reset;
  }

  .result__item {
    width: 162px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .result__total {
    font-family: $default-font;
    color: $black;

    border: 1px solid $gray--dark;
    border-radius: 3px;

    @include font-styles(30px, normal, 37px, center, uppercase);
  }

  .result__total--weight {
    padding: 10px 57px 15px 55px;
  }

  .result__total--days {
    padding: 10px 29px 15px 29px;
  }

  .result__phrase {
    @include indent-reset;
    width: 80%;

    font-family: $phrase_description-font;
    color: $gray--darkest;

    @include font-styles(14px, normal, 14px, center, none);
    background-color: $white;
    transform: translate(0%, 70%);
  }

  .result__total-costs {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 0;

    @include font-styles(20px, normal, 20px, right, uppercase);
  }

  .result__total-costs span {
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .result {
    margin-right: 50px;
    margin-bottom: 40px;
  }

  .result__phrase {
    background-color: $gray--lightest;
    transform: translate(0%, 100%);
  }

  .result__total-costs {
    flex-direction: row;
    width: 100%;
    padding: 0;
  }

  .result__total-costs span {

    margin-right: 64px;
  }
}
