.slider-mobile {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.slider-mobile__images {
  margin-bottom: 30px;
}

.slider-mobile__controls {
  width: 203px;
  position: relative;
  z-index: 10;
  margin: 0 auto 36px;
}

.slider-mobile__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.slider-mobile__range {
  position: relative;
  z-index: 10;
}

.slider-mobile__range-line {
  display: flex;
  width: 84px;
  background-color: $white;
  height: 12px;
  border: 1px solid $gray;
  border-radius: 10px;
}

.slider-mobile__range-btn {
  position: absolute;
  content: "";
  top: 4px;
  left: 8px;
  width: 35px;
  height: 6px;
  background-color: $green;
  border: none;
  border-radius: 5px;

  &--click {
    position: absolute;
    content: "";
    top: 2px;
    left: 46px;
    width: 35px;
    height: 4px;
    background-color: $green;
    border: none;
    border-radius: 5px;
  }
}

.slider-mobile__phrase {
  padding: 0;
  font-family: $default-font;
  color: $black;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include font-styles(16px, normal, 20px, left, uppercase);

  &-before {
    margin-right: 16px;
  }

  &-after {
    margin-left: 17px;
  }
}

@media (min-width: $tablet-width) {
  .slider-mobile {
    display: none;
  }
}
