.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.copyright__link {
  font-family: $phrase_description-font;
  color: $phrase-clr;

  @include font-styles(16px, normal, 16px, left);
}

.copyright__link svg {
  fill: $black;

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo svg {
  width: 40px;
  height: 47px;
  fill: $black;
}

.copyright__name {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 163px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 165px;
    justify-content: flex-end;
  }

  .copyright__name {
    margin-right: 8px;
  }

  .copyright__logo svg {
    width: 40px;
    height: 47px;
  }
}
