.dealer {
  width: 100%;
}

.dealer__bg-container {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.dealer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 24px 20px;
}

.dealer__title {
  width: 45%;
  margin: 6px 0 0;

  color: $title-clr;

  @include font-styles(16px, normal, 20px, left, uppercase);
}

.dealer--index .dealer__title {
  margin-top: 3px;
}

.dealer__location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: 0;
}

.dealer__address {
  margin: 0;

  font-family: $phrase_description-font;
  color: $phrase-clr;

  @include font-styles(14px, normal, 20px, left, none);
}

.dealer__city {
  margin: 0;

  font-family: $phrase_description-font;
  color: $phrase-clr;

  @include font-styles(14px, normal, 20px, left, none);
}

@media (min-width: $tablet-width) {
  .dealer__bg-container {
    width: 768px;
  }

  .dealer__block {
    width: 630px;
    padding-top: 64px;
    padding-bottom: 56px;
    margin: 0 auto;
  }

  .dealer__title {
    width: 30%;
    margin: 0;

    @include font-styles(20px, normal, 25px, left, uppercase);
  }

  .dealer__location {
    width: 30%;
    margin: 0;
  }

  .dealer__address {
    margin: 0;

    @include font-styles(16px, normal, 20px, right, none);
  }

  .dealer__city {
    width: 100%;
    margin-top: 15px;

    @include font-styles(16px, normal, 20px, right, none);
  }
}

@media (min-width: $desktop-width) {
  .dealer {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

  .dealer__bg-container {
    width: 100%;
  }

  .dealer__wrapper {
    width: 1220px;
    position: relative;
    margin: 0 auto;
  }

  .dealer__block {
    position: absolute;
    z-index: 1;

    top: 24%;
    left: 9.7%;

    width: 570px;
    justify-content: flex-start;
    margin: 0;
    padding: 57px 0;

    background-color: $white;
  }

  .dealer__title {
    width: 154px;
    margin: 0 95px 0 75px;
  }

  .dealer__title--index {
    margin-top: 7px;
  }

  .dealer__location {
    align-items: baseline;
    width: 163px;
  }

  .dealer__location--index {
    margin-top: 0;
  }

  .dealer__address {
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: 5px;

    text-align: left;
  }

  .dealer__city {
    text-align: left;
  }
}
