.main-nav {
  position: relative;
  margin-right: 20px;
  display: flex;
  background-color: $white;
}

.main-nav__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-nav__burger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 25px;
  height: 19px;

  background-color: $white;
  cursor: pointer;
  border: none;
  transform: translate(-80%, -225%);
}

@media (max-width: $mobile-only-width) {
  .main-nav--closed .main-nav__burger::before  {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: $black--lighter;
    box-shadow: 0 8px 0 0 $black--lighter, 0 16px 0 0 $black--lighter;
  }

  .main-nav--opened .main-nav__burger {
    &::before, &::after {
      content: "";

      position: absolute;
      top: 11px;
      left: 0;

      width: 23px;
      height: 2px;

      background-color: $black--lighter;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }
    &::after {
      transform: rotate(-45deg);
      box-shadow: none;
    }
  }

  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--nojs .main-nav__burger {
    display: none;
  }

  .main-nav--nojs .site-list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-right: 31px;
  }

  .main-nav__wrapper {
    width: 440px;
  }

  .main-nav--closed {
    display: block;
  }

  .main-nav__burger {
    display: none; /*лучше делать так или как на 55 строчке?*/
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin: 0;
    background-color: transparent;
  }

  .main-nav__wrapper {
    width: 480px;
  }

  .main-nav__burger {
    @include visually-hidden;
  }
}
