.map {
  position: relative;

  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 140px;
    left: 129px;

    width: 62px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.map__picture {
  width: 100%;
  height: 400px;
}
