.map__background {
  height: 360px;
}

.map {
  width: 320px;
  height: 360px;
  margin: 0 auto;
  overflow: hidden;
}

.map__wrapper {
  position: relative;
  width: 320px;
  height: 362px;
  margin: 0 auto;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 87px;
    left: 100px;

    width: 124px;
    height: 106px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.map__picture-wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    height: 400px;
  }

  .map__wrapper {
    width: 708px;
  }

  .map__wrapper-index {
    height: 462px;
  }

  .map__picture-wrapper {
    width: 768px;
  }

  .map__picture {
    width: 768px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 100%;
  }

  .map__wrapper {
    width: 100%;
    height: auto;

    &::before {
      top: 152px;
      left: 1055px;
    }
  }

  .map__picture-wrapper {
    width: 1220px;
  }

  .map__picture {
    width: 100%;
  }
}
