.page-footer__dealer {
  width: 100%;

  background-color: $gray--lighter;

  margin: 0 auto;
}

.page-footer__dealer--index {
  background-color: $white;
}

.page-footer__map-bg {
  width: 100%;
}

.page-footer__map {
  padding: 0;
}

.page-footer__background-wrapper {
  width: 100%;

  background-color: $gray--lightest;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 31px;
}

.page-footer__logo {
  display: flex;
  align-items: center;
  padding-bottom: 31px;
  cursor: pointer;
}

.page-footer__link {
  &:hover {
    opacity: 0.8;
  }

  &:active:focus {
    opacity: 0.3;
  }
}

.page-footer__social-wrapper {
  width: 100%;
  margin-bottom: 15px;

  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

.page-footer__social {
  width: 48%;

  @include list-reset;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 708px;
    flex-direction: row;
    padding-top: 48px;
  }

  .page-footer__wrapper-catalog {
    padding-top: 45px;
  }

  .page-footer__wrapper-form {
    padding-top: 45px;
  }

  .page-footer__logo {
    width: 192px;
    padding: 0;
  }

  .page-footer__social-wrapper {
    width: 24%;
    margin: 0;
    border: none;
  }

  .page-footer__social {
    width: 140px;
    margin: 0;
  }

  .page-footer__copyright {
    width: 192px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
    padding-top: 51px;
  }

  .page-footer__social-wrapper {
    width: 13.6%;
  }
}
