.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active:focus {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 39px;

  margin-top: 8px;
  margin-bottom: 18px;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
  }

  .page-header__logo-image {
    width: 175px;
    height: 60px;

    margin-top: 23px;
    margin-left: 29px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 100%;
  }

  .page-header__menu {
    align-items: center;
    width: 1220px;
    margin: 53px auto 0;
  }

  .page-header__logo-image {
    margin: 0;
    width: 203px;
    height: 60px;
  }
}
