.site-list {
  @include font-styles(20px, 500, 20px, center, uppercase);
  @include list-reset;
}

.site-list__item {
  border-bottom: 1px solid $gray--lightest;

  &:first-child {
    border-top: 1px solid $gray--lightest;
  }
}

.site-list__link {
  display: block;
  padding: 24px 0;

  color: $title-clr;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: $black--lighter;

    @include font-styles(18px, normal, 25px, left, uppercase);
  }

  .site-list__item {
    border: none;

    &:first-child {
      border: none;
    }
  }

  .site-list__link {
    padding: 22px 0;
  }

  .site-list__link-catalog {
    color: $black;
  }

  .site-list__link--active {
    position: relative;

    &::after {
      position: absolute;
      top: 78%;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 100%;
    margin: 0;

    @include font-styles(20px, normal, 25px, right, uppercase);
  }

  .site-list__link {
    margin-top: 15px;
    padding: 0 0 8px;
    color: $white;
  }

  .site-list__link-catalog {
    color: $black;
  }

  .site-list__link--active {
    &::after {
      top: 95%;
    }
  }
}
