.social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 20px;

  border-top: 2px solid $border_gray--clr;
  border-bottom: 2px solid $border_gray--clr;
}

.social-list__item {
  &:last-child {
    margin-right: 82px;
  }

  &:nth-child(2) {
    margin-right: 40px;
  }

  &:first-child {
    margin-right: 36px;
  }
}
