.social-list {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-list__item {
  margin-right: 38px;
}

.social-list__link svg {
  cursor: pointer;

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__link--vk svg {
  width: 22px;
  height: 12px;
}

.social-list__link--insta svg {
  width: 17px;
  height: 17px;
}

.social-list__link--fb svg {
  width: 10px;
  height: 20px;
}

@media (min-width: $tablet-width) {
  .social-list {
    padding: 0;
    border: none;
  }

  .social-list__item {
    margin-right: 28px;
  }

  .social-list__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social-list__link--insta svg {
    width: 23px;
    height: 23px;
  }

  .social-list__link--fb svg {
    width: 14px;
    height: 28px;
  }
}
