.additional-goods {
  width: 320px;
  margin: 0 auto 35px;
}

.additional-goods__title {
  position: relative;
  margin: 29px auto 33px 20px;

  color: $title-clr;

  @include font-styles(24px, normal, 24px, left, none);

  &::after {
    position: absolute;
    content: "";

    top: 54%;
    left: 82.2%;

    width: 53px;
    height: 3px;
    background-color: $green;
  }
}

.additional-goods__wrapper {
  margin-bottom: 38px;
  padding: 0 20px;
}

.additional-goods__list {
  margin-bottom: 38px;
  padding: 0 20px;

  @include list-reset;
}

.additional-goods__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 18px;

  border-top: 2px solid $gray--lightest;

  &:last-child {
    border-bottom: 2px solid $gray--lightest;
  }
}

.additional-goods__name {
  margin: 12px 0 13px;

  color: $additional_goods--clr;

  @include font-styles(16px, normal, 16px, left, uppercase);
}

.additional-goods__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.additional-goods__pack {
  margin: 0;

  font-family: $phrase_description-font;
  color: $phrase-clr;

  @include font-styles(14px, normal, 14px, left, none);
}

.additional-goods__price {
  margin: 0;

  font-family: $phrase_description-font;
  color: $phrase-clr;

  @include font-styles(14px, normal, 14px, right, uppercase);
}

.additional-goods__button {
  padding-top: 10px;
  padding-bottom: 10px;

  @include font-styles(16px, normal, 20px, center, uppercase);
}

@media (min-width: $tablet-width) {
  .additional-goods {
    width: 708px;
    margin-bottom: 76px;
  }

  .additional-goods__wrapper {
    padding: 0;
    margin-bottom: 69px;

    border: 2px solid $gray--lightest;
  }

  .additional-goods__title {
    width: 50%;
    position: relative;
    margin-bottom: 77px;
    margin-left: 37px;

    @include font-styles(36px, normal, 36px, left, none);

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      right: 710px;

      width: 30px;
      height: 3px;

      background-color: $green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      right: -198px;

      width: 495px;
      height: 3px;

      background-color: $green;
    }
  }

  .additional-goods__list {
    margin: 0;
    padding: 0;
  }

  .additional-goods__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 36px;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .additional-goods__name {
    margin-top: 0;
    margin-right: 246px;
    margin-bottom: 25px;

    @include font-styles(20px, normal, 20px, left, uppercase);
  }

  .additional-goods__pack {
    margin-right: 49px;

    @include font-styles(16px, normal, 20px, right, none);
  }

  .additional-goods__price {
    @include font-styles(16px, normal, 20px, right, none);
  }

  .additional-goods__button {
    width: 100%;
  }

  .additional-goods__gift {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin-top: 0;
    margin-bottom: 18px;
  }

  .additional-goods__title {
    margin-top: 22px;
    margin-bottom: 80px;
    margin-left: 0;

    &::before {
      right: 112%;
      width: 500px;
    }

    &::after {
      right: -307%;
      width: 1000px;
    }
  }

  .additional-goods__wrapper {
    width: 73.4%;

    border: none;
  }

  .additional-goods__item {
    min-width: 895px;
    min-height: 70px;
    padding: 0;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      border-top: 2px solid $gray--lightest;
    }

    &:last-child {
      border-bottom: 2px solid $gray--lightest;
    }
  }

  .additional-goods__name {
    width: 285px;
    margin: 0;
  }

  .additional-goods__description {
    width: 285px;
    margin: 0;
    justify-content: space-between;
  }

  .additional-goods__button {
    width: 245px;
    margin: 0;
  }
}
