.product-card {
  padding-bottom: 24px;
}

.product-card__grid-wrapper {
}

.product-card__link-title {
  margin-top: 21px;
  margin-bottom: 10px;
}

.product-card__description-wrapper {
}

.product-card__title {
  margin: 0;

  font-family: $default-font;
  color: $title-clr;

  @include font-styles(16px, normal, 20px, left, uppercase);
}

.product-card__table {
  margin: 0;

  font-family: $phrase_description-font;
  color: $phrase-clr;

  @include font-styles(12px, normal, 16px, auto, none);
}

.product-card__table tr {
}

.product-card__option {
  margin: 0;
  padding: 0;

  text-align: left;
}

.product-card__value {
  margin: 0;
  padding: 0;

  text-align: right;
}

.product-card__button {
  padding: 10px 0;

  @include font-styles(16px, normal, 20px, center, uppercase);
}

