.catalog-main__title {
  margin: 14px auto 30px;

  font-family: $default-font;
  color: $title-clr;

  @include center-container;
  @include font-styles(36px, normal, 60px, left);
}

@media (min-width: $tablet-width) {
  .catalog-main__title {
    margin-top: 56px;
    margin-bottom: 74px;

    @include font-styles(60px, normal, 60px, left, none);
  }
}

@media (min-width: $desktop-width) {
  .catalog-main__title {
    margin-top: 75px;
    margin-bottom: 74px;
  }
}
