.gift {
  min-height: 289px;
  width: 87.8%;
  margin: 0 auto;

  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gift__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift__icon {
  width: 56px;
  height: 61px;
  margin-top: 65px;
  margin-bottom: 60px;
}

.gift__icon path {
  fill: $white;
}

.gift__phrase {
  width: 60%;
  margin: 0 auto;
  padding: 0;

  font-family: $phrase_description-font;
  color: $gift_block-text_clr;

  @include font-styles(16px, normal, 20px, center, none);
}

@media (min-width: $tablet-width) {
  .gift {
    display: flex;
    width: 708px;
    min-height: 200px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .gift__content {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
    padding-right: 105px;
    padding-left: 90px;
  }

  .gift__icon {
    margin: 0;
  }

  .gift__phrase {
    width: 35%;
    margin: 0;
    padding-top: 8px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 245px;
    height: 289px;
    margin-right: 0;
    margin-left: 79px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .gift__content {
    flex-direction: column;
    padding: 0 0 43px;
  }

  .gift__icon {
    margin: 0 auto;
    padding-top: 21px;
  }

  .gift__phrase {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}
