.gift {
  min-height: 290px;
  width: 87.8%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gift__icon {
  width: 56px;
  height: 61px;
  margin-top: 65px;
  margin-bottom: 60px;

  fill: $white;
}

.gift__phrase {
  width: 60%;
  margin: 0 auto;
  padding: 0;

  font-family: $phrase_description-font;
  color: $gift_block-text_clr;

  @include font-styles(16px, normal, 20px, center, none);
}

@media (min-width: $tablet-width) {
  .gift {
    display: flex;
    width: 708px;
    min-height: 200px;
    flex-direction: row;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .gift__icon {
    margin: 65px auto auto 91px;
  }

  .gift__phrase {
    width: 25%;
    margin: auto 108px auto auto;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 245px;
    height: 289px;
    margin-right: 0;
    margin-left: 79px;
    flex-direction: column;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .gift__icon {
    margin: 65px auto 62px;
  }

  .gift__phrase {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}
