.product {
  width: 320px;
  margin: 0 auto;

  border: 1px solid $gray--lightest;
}

.product__list {
  border: 1px solid $gray--lightest;

  @include list-reset;
}

.product__item {
  padding: 0 20px;
  width: 88%;
  border-bottom: 2px solid $gray--lightest;

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(odd) {
    margin-right: 61px;
  }
}

@media (min-width: $tablet-width) {
  .product {
    @include center-container;
    margin-bottom: 68px;

    width: 708px;
    border: none;
  }

  .product__item {
    width: 45.7%;
    padding: 0;
    border: none;

    &:nth-child(odd) {
      margin-right: 60px;
    }
  }

  .product__list {
    display: flex;
    flex-wrap: wrap;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 1220px;
    margin-bottom: 51px;
  }

  .product__list {
    justify-content: space-between;
  }

  .product__item {
    width: 20.2%;

    &:nth-child(odd) {
      margin: 0;
    }
  }
}
