.show-all {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 19.5%;
    left: 45.5%;

    width: 31px;
    height: 2px;
    background-color: $gray--lightest;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12.5%;
    left: 50%;

    width: 2px;
    height: 31px;
    background-color: $gray--lightest;
  }
}

.show-all__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 28.3%;
}

.show-all__title {
  margin: 0 auto;

  color: $title-clr;

  @include font-styles(16px, normal, 20px, center, uppercase);
}

.show-all__phrase {
  margin-top: 8px;
  margin-bottom: 20px;

  font-family: $phrase_description-font;
  color: $phrase-clr;

  @include font-styles(12px, normal, 16px, center, none);
}

.show-all__button {
  width: 100%;
  margin-bottom: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .show-all {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    &::before {
      top: 39.4%;
      left: 41%;
      width: 62px;
    }

    &::after {
      top: 34%;
      width: 3px;
      height: 60px;
    }
  }


  .show-all__wrapper {
    width: 100%;
    margin-top: 42.5%;
    padding-top: 50%;
    align-items: center;

    border: 2px solid $gray--lightest;
  }

  .show-all__title {
    width: 50%;

    @include font-styles(20px, normal, 20px, center, uppercase);

    &::before {
      top: -80px;
      left: 50px;

      width: 61px;
      height: 61px;
    }
  }

  .show-all__phrase {
    width: 60%;
    margin-top: 28px;

    @include font-styles(16px, normal, 19px, center, none);
  }

  .show-all__button {
    margin: 64px auto 34px;

    width: 75%;

    @include font-styles(16px, normal, 20px, center, uppercase);
  }
}

@media (min-width: $desktop-width) {
  .show-all {
    &::before {
      top: 39%;
      left: 38%;
      height: 3px;
    }
  }

  .show-all__wrapper {
    width: 97.2%;
    margin-top: 56%;
    margin-left: 4px;
  }

  .show-all__title {
    width: 70%;
  }

  .show-all__phrase {
    width: 90%;
    margin-top: 25px;
  }

  .show-all__button {
    width: 70%;
    min-width: 149px;
  }
}
