.form-addon {
  margin: 0 0 18px;
  padding: 0;

  border: none;
}

.form-addon__title {
  position: relative;

  margin-bottom: 39px;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -160px;

    width: 136px;
    height: 3px;

    background-color: $green;
  }
}

.form-addon__label {
  position: relative;

  margin-bottom: 24px;
  margin-left: 46px;

  cursor: pointer;

  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -46px;

    width: 29px;
    height: 29px;

    border: 1px solid $gray--form-border;
  }
}

.form-addon__input {
  display: none;

  &:checked + .form-addon__label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -41px;

    width: 19px;
    height: 11px;

    border-bottom: 3px solid $green;
    border-left: 3px solid $green;
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .form-addon {
    margin-bottom: 11px;
  }

  .form-addon__title {
    margin-bottom: 67px;

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      left: -69px;

      width: 30px;
      height: 3px;

      background-color: $green;
    }

    &::after {
      top: 23px;
      right: -488px;

      width: 445px;
    }
  }

  .form-addon__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-addon__label {
    width: 35%;
    margin-bottom: 52px;
    margin-left: 59px;

    &:nth-child(even) {
      margin-right: 6px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -9px;
      left: -58px;

      width: 39px;
      height: 39px;

      border: 1px solid $gray--form-border;
    }
  }

  .form-addon__input:checked + .form-addon__label::after {
    top: 0;
    left: -49px;
  }
}

@media (min-width: $desktop-width) {
  .form-addon {
    margin-bottom: 19px;
  }

  .form-addon__title {
    &::before {
      content: "";
      position: absolute;
      top: 23px;
      left: -110px;

      width: 70px;
      height: 3px;

      background-color: $green;
    }

    &::after {
      top: 23px;
      right: -1119px;

      width: 1078px;
    }
  }

  .form-addon__label {
    width: 15%;

    &:nth-child(even) {
      margin-right: 3px;
    }
  }
}
