.form-owner__container {
  @include center-container;
}

.form-owner {
  margin: 28px 0 15px;
  padding: 0;

  border: none;
}

.form-owner__title {
  position: relative;
  width: 63%;
  margin-bottom: 35px;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    top: 29%;
    left: 106%;

    width: 99px;
    height: 3px;

    background-color: $green;
  }
}

.form-owner__grid {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-owner__label {
  margin-right: 12px;
}

.form-owner__label-input {
  margin-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;

  border: 1px solid $gray--form-border;
  opacity: 0.5;

  &:hover + svg {
    opacity: 0.8;
  }

  &:focus + svg {
    opacity: 1;
    border-color: $gray--darkest;

    path {
      fill: #68b738;
    }
  }

  &:invalid + svg {
    color: #ff8282;
    opacity: 1;

    path {
      fill: #ff8282;
    }
  }
}

.form-owner__label-input-email {
  width: 204px;
  margin-right: 18px;
}

.form-owner__label-input-tel {
  width: 187px;
}

.form-owner__icon {
  position: absolute;
}

.form-owner__icon--mail {
  top: 15px;
  right: 36px;
}

.form-owner__icon--tel {
  top: 12px;
  right: 33px;
}

@media (min-width: $tablet-width) {
  .form-owner__container {
    width: 630px;
    margin-bottom: 71px;
  }

  .form-owner {
    margin-top: 75px;
    margin-bottom: 51px;
  }

  .form-owner__title {
    width: 100%;
    margin-bottom: 70px;

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      left: -206%;

      width: 200%;
      height: 3px;

      background-color: $green;
    }

    &::after {
      top: 22px;
      left: 88%;

      width: 3000%;
    }
  }

  .form-owner__grid {
    width: 630px;
    margin-bottom: 10px;
  }

  .form-owner__label {
    margin-left: 2px;
  }

  .form-owner__label-input {
    margin-right: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 26px;
  }

  .form-owner__label-input-email {
    width: 519px;
  }

  .form-owner__icon--mail {
    top: 25px;
    right: 17px;
  }

  .form-owner__icon--tel {
    top: 22px;
    right: 13px;
  }

  .form-owner__label-input-tel {
    width: 535px;
  }
}

@media (min-width: $desktop-width) {
  .form-owner__container {
    width: 1220px;
    padding: 0;
  }

  .form-owner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 58px;
  }

  .form-owner__title {
    width: 42.8%;
    margin-bottom: 76px;

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      left: -1602px;

      width: 300%;
      height: 3px;

      background-color: $green;
    }

    &::after {
      top: 22px;
      left: 552px;
    }
  }

  .form-owner__block {
    display: flex;
    justify-content: space-between;
  }

  .form-owner__grid {
    width: 46.5%;
  }

  .form-owner__label-input {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form-owner__label-input-email {
    width: 462px;
    padding-left: 16px;
  }

  .form-owner__label-input-tel {
    padding-left: 19px;
  }

  .form-owner__icon--mail {
    top: 19px;
    right: 16px;
  }

  .form-owner__icon--tel {
    top: 16px;
    right: 17px;
  }
}
