.form-owner__container {
  @include center-container;
}

.form-owner {
  margin: 29px 0 13px;
  padding: 0;

  border: none;
}

.form-owner__title {
  position: relative;
  width: 63%;
  margin-bottom: 31px;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    top: 29%;
    left: 106%;

    width: 99px;
    height: 3px;

    background-color: $green;
  }
}

.form-owner__grid {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-owner__label {
  margin-right: 12px;
}

.form-owner__label-input {
  margin-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;

  border: 1px solid $gray--form-border;
}

.form-owner__label-input-email {
  width: 204px;
}

.form-owner__label-input-tel {
  width: 187px;
}

.form-owner__icon {
  position: absolute;
}

.form-owner__icon--mail {
  top: 15px;
  right: 36px;
}

.form-owner__icon--tel {
  top: 12px;
  right: 33px;
}

@media (min-width: $tablet-width) {
  .form-owner__container {
    width: 630px;
  }

  .form-owner {
    margin-top: 75px;
    margin-bottom: 46px;
  }

  .form-owner__title {
    width: 100%;
    margin-bottom: 73px;

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      left: -69px;

      width: 30px;
      height: 3px;

      background-color: $green;
    }

    &::after {
      top: 22px;
      right: -69px;

      width: 31px;
    }
  }

  .form-owner__grid {
    width: 630px;
    margin-bottom: 16px;
  }

  .form-owner__label-input {
    margin-right: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 26px;
  }

  .form-owner__label-input-email {
    width: 519px;
  }

  .form-owner__label-input-tel {
    width: 535px;
  }
}

@media (min-width: $desktop-width) {
  .form-owner__container {
    width: 1220px;
    padding: 0;
  }

  .form-owner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 49px;
  }

  .form-owner__title {
    width: 42.8%;
    margin-bottom: 72px;

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      left: -110px;

      width: 70px;
      height: 3px;

      background-color: $green;
    }

    &::after {
      top: 22px;
      right: -110px;

      width: 775px;
    }
  }

  .form-owner__grid {
    width: 46.5%;
  }

  .form-owner__label-input-email {
    width: 462px;
    padding-left: 16px;
  }

  .form-owner__label-input-tel {
    padding-left: 19px;
  }

  .form-owner__icon--mail {
    top: 19px;
    right: 16px;
  }

  .form-owner__icon--tel {
    top: 16px;
    right: 17px;
  }
}
