.form {
  overflow: hidden;
}

.form__main {
  margin-bottom: 32px;

  background-color: $white;
}

.form__container {
  @include center-container;
}


.form__title-wrapper {
  @include center-container;
}

.form__title-common {
  color: $black;

  @include font-styles(24px, normal, 24px, left, none);
}

.form__title {
  margin: 15px 0 25px;

  font-family: $default-font;
  color: $black;

  @include font-styles(36px, normal, 60px, left, none);
}

.form__phrase {
  margin: 0 0 38px;

  font-family: $default-font;
  color: $black;

  @include font-styles(14px, normal, 18px, left, uppercase);
}

.form__field input {
  font-family: $default-font;
}

.form__profile {
  display: flex;
  flex-direction: column;
  margin: 0 0 8px;
  padding: 0;

  border: none;
}

.form__profile-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 15px;
}

.form__label-common {
  color: $black--lighter;

  @include font-styles(16px, normal, 18px, left, uppercase);
}

.form__profile-label-name + .form__profile-input {
  width: 211px;
}

.form__profile-label-weight + .form__profile-input {
  width: 187px;
}

.form__profile-label-age + .form__profile-input {
  width: 155px;
}

.form__input-common {
  color: $gray--darkest;

  border: 1px solid $gray--dark;

  @include font-styles(16px, normal, 18px, left, uppercase);

  &::placeholder {
    color: $gray--darkest;
  }
}

.form__profile-input {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 13px;

  appearance: none;

  &:hover {
    opacity: 1;
  }

  &:valid {
    opacity: 1;
    border-color: $gray--darkest;
  }

  &:valid:focus {
    color: #68b738;
    opacity: 1;
  }

  &:invalid:focus {
    color: #ff8282;
    opacity: 1;
  }
}

.form__input-common[placeholder] {
  color: $gray--darkest;
  opacity: 1;
}

.form__wrapper {
  width: 320px;
  margin: 0 auto;

  border: 1px solid $gray--form-border;
}

.form__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  @include font-styles(16px, normal, 20px, center, uppercase);
}

.form__footnote {
  margin-top: 22px;
  margin-left: 7px;

  font-family: $phrase_description-font;
  color: $gray--darkest;

  @include font-styles(14px, normal, 16px, center, none);
}

@media (min-width: $tablet-width) {
  .form__main {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .form__title-wrapper {
    width: 708px;
  }

  .form__container {
    width: 625px;
  }

  .form__title-common {
    @include font-styles(36px, normal, 36px, left, none);
  }

  .form__title {
    margin-top: 0;
    margin-bottom: 56px;

    @include font-styles(60px, normal, 60px, left, none);
  }

  .form__phrase {
    width: 50%;
    margin-bottom: 60px;
    padding-left: 40px;

    @include font-styles(20px, normal, 30px, left, uppercase);
  }

  .form__field {
    padding: 0 40px;
  }

  .form__profile {
    margin-bottom: 55px;
  }

  .form__profile-grid {
    margin-bottom: 15px;
  }

  .form__label-common {
    @include font-styles(20px, normal, 20px, left, uppercase);
  }

  .form__profile-label-name + .form__profile-input {
    width: 544px;
  }

  .form__profile-label-weight + .form__profile-input {
    width: 514px;
  }

  .form__profile-label-age + .form__profile-input {
    width: 475px;
  }

  .form__input-common {
    @include font-styles(20px, normal, 20px, left, uppercase);
  }

  .form__profile-input {
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 15px;
  }

  .form__wrapper {
    width: 630px;
    margin: 0 auto;
  }

  .form-field__container {
    width: 630px;
    margin: auto;
  }

  .form__button {
    width: 45%;
    padding-top: 16px;
    padding-bottom: 17px;

    @include font-styles(20px, normal, 20px, center, uppercase);
  }

  .form__footnote {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    margin: 0 0 0 24px;

    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 74px;
    margin-bottom: 12px;
  }

  .form__title-wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .form__container {
    width: 49.8%;
    margin: 0;
    padding: 0;
  }

  .form__profile {
    width: 94%;
    margin: 0;
  }

  .form__profile-input {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .form__phrase {
    width: 56%;
    padding-left: 0;
    margin-bottom: 60px;
  }

  .form__field {
    width: 1218px;
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__profile-label-name + .form__profile-input {
    width: 486px;
  }

  .form__profile-label-weight + .form__profile-input {
    width: 455px;
  }

  .form__profile-label-age + .form__profile-input {
    width: 416px;
  }

  .form__wrapper {
    width: 46.5%;
    margin: 0 0 66px;
  }

  .form-field__container {
    width: 80.2%;
  }

  .form__button {
    width: 46.7%;
  }

  .form__footnote {
    width: 24%;
  }
}
