.form-comment {
  margin: 0 0 28px;
  padding: 0;

  border: none;
}

.form-comment textarea {
  font-family: $default-font;
}

.form-comment__title {
  position: relative;

  margin-bottom: 35px;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -180px;

    width: 158px;
    height: 3px;

    background-color: $green;
  }
}

.form-comment__textarea {
  width: 277px;
  height: 135px;
  padding-top: 12px;

  color: $gray--darkest;

  border: 1px solid $gray--form-border;

  @include font-styles(16px, normal, 18px, center, uppercase);
}

@media (min-width: $tablet-width) {
  .form-comment {
    margin-bottom: 64px;
  }

  .form-comment__title {
    margin-bottom: 76px;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      right: 317%;

      width: 300%;
      height: 3px;

      background-color: $green;
    }

    &::after {
      top: 22px;
      right: -326%;

      width: 300%;
    }
  }

  .form-comment__textarea {
    width: 610px;
    height: 163px;
    padding-top: 9px;
    padding-left: 19px;

    @include font-styles(20px, normal, 30px, left, uppercase);
  }
}

@media (min-width: $desktop-width) {
  .form-comment {
    margin-bottom: 66px;
  }

  .form-comment__title {
    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: -110px;

      width: 70px;
      height: 3px;

      background-color: $green;
    }

    &::after {
      top: 22px;
      right: -1150px;

      width: 1112px;
    }
  }

  .form-comment__textarea {
    width: 98.3%;
  }
}
